@model WebProject.Models.MainContext
@{
    Layout = null;
}
<head>
    <link type="text/css" rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body >
    <div class="Main_div">
        <div class="Left_Div">
            <div class="Name_Items">
                <label>Коврики</label>
                <label>Постеры</label>
            </div>
            <div class="Left_items">
            <div class="Mousepad_items">
              @foreach(var product in Model.Product)
                    {
                        if (product.Name.Contains("Mousepad"))
                        {
                        <form method="post">
                                <input class="AllItems_Image" type="image" src="\@product.Image">
                                <input name="productName" hidden class="form-control form-control-sm" value="@product.Name" type="text" />
                        </form>    
                        }
                    }
                </div>
            <div class="Poster_Items">
                    @foreach (var product in Model.Product)
                    {

                        if (product.Name.Contains("Poster"))
                        {
                            <form method="post">
                                <input class="AllItems_Image" type="image" src="\@product.Image">
                                <input name="productName" hidden class="form-control form-control-sm" value="@product.Name" type="text" />
                            </form>
                        }
                    }
            </div>
        </div>  
        </div>
        <div class="Right_Div">
            <label class="Main_Name">Одежда</label>
            <div class="Right_name">
                <label>Свитер</label>
                <label>Худи</label>
            </div>
            <div class="Right_Items">
            
            <div class="Sweater">
                            @foreach (var product in Model.Product)
                            {
                                if (product.Name.Contains("Sweatshirt"))
                                {
                                    <form method="post">
                                        <input class="AllItems_Image" type="image" src="\@product.Image">
                                        <input name="productName" hidden class="form-control form-control-sm" value="@product.Name" type="text" />
                                    </form>
                                }
                            }
            </div>
            <div class="T-Shirt">
                            @foreach (var product in Model.Product)
                            {
                                if (product.Name.Contains("Hoodie"))
                                {
                                    <form method="post">
                                        <input class="AllItems_Image" type="image" src="\@product.Image">
                                <input name="productName" hidden class="form-control form-control-sm" value="@product.Name" type="text" />
                                    </form>
                                }
                            }
             </div>
         </div>
       </div>
    </div>
</body>