@page
@model WebProject.Views.Home.All_ItemsModel
@{
    Layout = null;
}
<head>
    <link type="text/css" rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body >
    <div class="Main_div">
        <div class="Left_Div">
            <div class="Name_Items">
                <label>Коврики</label>
                <label>Постеры</label>
            </div>
            <div class="Left_items">
            <div class="Mousepad_items">
                <img src="/img/ChibiMirana_mousepad.png" />
                <img src="/img/ChibiMirana_mousepad.png" />
                <img src="/img/ChibiMirana_mousepad.png" />
                <img src="/img/ChibiMirana_mousepad.png" />
                <img src="/img/ChibiMirana_mousepad.png" />
                <img src="/img/ChibiMirana_mousepad.png" />
                <img src="/img/ChibiMirana_mousepad.png" />
                <img src="/img/ChibiMirana_mousepad.png" />
            </div>
            <div class="Poster_Items">
                <img src="~/img/AllHero_Poster.png" />
                <img src="~/img/AllHero_Poster.png" />
                <img src="~/img/AllHero_Poster.png" />
                <img src="~/img/AllHero_Poster.png" />
                <img src="~/img/AllHero_Poster.png" />
                <img src="~/img/AllHero_Poster.png" />
                <img src="~/img/AllHero_Poster.png" />
            </div>  

            </div>
        </div>
        <div class="Right_Div">
            <label class="Main_Name">Одежда</label>
            <div class="Right_name">
                <label>Рубашка</label>
                <label>Свитер</label>
                <label>Футболка</label>
            </div>
            <div class="Right_Items">
            <div class="Shirt">
                <img src="~/img/PlushPudge_Hoody.png"/>
                <img src="~/img/PlushPudge_Hoody.png"/>
                <img src="~/img/PlushPudge_Hoody.png"/>
                <img src="~/img/PlushPudge_Tshirt.png"/>
            </div>
            <div class="Sweater">
                <img src="~/img/PlushPudge_Tshirt.png" />
                <img src="~/img/PlushPudge_Tshirt.png" />
                <img src="~/img/PlushPudge_Tshirt.png" />
                <img src="~/img/PlushPudge_Tshirt.png" />
            </div>
            <div class="T-Shirt">
                <img src="~/img/PlushPudge_Tshirt.png" />
                <img src="~/img/PlushPudge_Tshirt.png" />
                <img src="~/img/PlushPudge_Tshirt.png" />
                <img src="~/img/PlushPudge_Tshirt.png" />
            </div>
        </div>
    </div>
</body>