@model WebProject.Models.MainContext

@{
    //Layout = "/Views/Shared/_Layout.cshtml";

}
<div class="main_container">
    <div class="Line"></div>
    <div>
        <div id="CART_PART">
            <div class="Cart">
                @{
                    decimal sum = 0;
                    var carts = Model.Carts.ToList();
                }
                @foreach (var cart in carts)
                {
                    <div class="Cart_Item">
                        @{
                            Product product = Model.Product.First(x => x.Id == cart.ProductId);
                            sum += product.Cost;
                        }
                        <img class="Item_Img" src="\@product.Image" alt="image">
                        <label class="Item_Name">@product.Name</label>
                        <label class="Item_Cost">@product.Cost₽</label>
                    </div>
                }
            </div>
        </div>
        <div class="PostCart">
            <select class="Country" name="Country">
                <option value="Germany">Германия</option>
                <option value="Kingdom">Соединенное королевство</option>
                <option value="USA">Соединенные штаты америки</option>
                <option value="Chehia">Чехия</option>
                <option value="Kazahstan">Казахстан</option>
                <option value="Russia">Россия</option>
            </select>
            <input type="text" value="Post Code"/>
        </div>
        <div id="BUTTONS_PART" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h1>Всего: @sum</h1>
            <form asp-action="Buy">
                <input type="submit" value="КУПИТЬ!!!"/>
            </form>
        </div>
    </div>
</div>

