@page
@model WebProject.Views.Home.CartModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="main_container">
    <div class="Line"></div>
    <div>
        <div id="CART_PART">
            <div class="Cart">
                <div class="Cart_Item">
                    <img class="Item_Img" src="\img\PlushPudge_mousepad.png" alt="image">
                    <label class="Item_Name">Test</label>
                    <label class="Item_Cost">Test</label>
                    <label class="Item_Count">Test</label>
                </div>
            </div>
        </div>
        <div id="BUTTONS_PART" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <button class="Buy_Button">КУПИТЬ</button>
            <h1>Всего: NULL</h1>
        </div>
    </div>
</div>
