@page
@model WebProject.Views.Home.ProductModel
@{
}
<div class="main_container">
    <div class="Product">
        <img class="Product_Image" src="img\Poster BeastMaster.png" />
        <div class="Name_Cost">
            <label class="Name_Product">Футболка Мякгий пудж</label>
            <label class="Product_Cost">100 Руб</label>
            <label class="About">Описание</label>
            <label>Размер</label>
            <select class="Size" name="Size">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select>
            <label> Кол-во</label>
            <div class="Buy_Count">
                <input class="Count" type="text" />
                <button class="Buy_button">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>
